body {
    text-align: center;
}

.title {
    font-size: 40px;

    color: #000;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.sub {
    margin-top: -40px;
    margin-bottom: -20px;
}

/* Buttons */

.button-xlarge {
    font-size: 125%;

    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.button-success {
    color: #fff;
    background: rgb(28, 184, 65);
}

.button-delete {
    color: #fff;
    background: rgb(202, 60, 60);
}

/* Main Window */

.content {
    display: flex;

    align-items: center;
    justify-content: center;
}

.content div {
    margin-top: 20px;
}

#players,
#roulette,
#end {
    height: 300px !important;
    width: 500px !important;
    padding: 50px 10px;
    padding-bottom: 50px;

    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.6);
       -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.6);
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.6);
}

h2 {
    font-weight: normal;

    color: #2c3e50;
}

/* Player settings */
#count {
    font-size: 80px;
}

#plus {
    padding-right: 15px;
    padding-left: 15px;

    border-radius: 100%;
}

#minus {
    padding-right: 17px;
    padding-left: 17px;

    border-radius: 100%;
}

/* Roulette */

#roulette {
    display: none;
}

#roulette h2 {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 50px;
}

#player {
    font-size: 20px !important;
}

/* End */
#end {
    display: none;
}

#end h1 {
    font-size: 60px;
}


/* Footer */
footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 5px;

    color: #fff;
    background-color: rgba(0,0,0,.9);
}

footer a {
    color: #bdc3c7;
}

/* Responsive */
@media only screen and (max-width: 600px) {
    #players,
    #roulette,
    #end {
        height: 100% !important;
        width: 100%;
        padding: auto;
        margin-top: 10px;

        border-radius: 0;
        background-color: #fff;
        -webkit-box-shadow: initial;
           -moz-box-shadow: initial;
                box-shadow: initial;
    }
}
